<form action="/dashboard/action">
    <div class="flex flex-row">
        <div class="dashboard-creation-wrapper">
            <input type="submit" name="action" value="New">
        </div>
        <div class="dashboard-actions-wrapper">
            <input type="submit" name="cmd" value="Restart">
            <input type="submit" name="cmd" value="Stop">
            <input type="submit" name="cmd" value="Delete">
        </div>
    </div>
    <table style="outline: 1px solid black">
        <thead>
            <tr>
                <th></th>
                <th>Server Name</th>
                <th>Ip Address</th>
            </tr>
        </thead>
        <tbody>
            <% if @servers.nil? %>
                <td>No servers.</td>
            <% else %>
                <% @servers.each do |server| %>
                    <tr>
                        <td>
                            <input type="radio" name="server" value="<%= server.id %>">
                        </td>
                        <td>
                            <%= server.name %>
                        </td>
                        <td>
                            <%= server.ip %>
                        </td>
                    </tr>
                <% end %> 
            <% end %>
        </tbody>
    </table>
</form>