<h1>About</h1>
<p>
    <a href="/">getserver.app</a> is a server hosting platform for <u>PEOPLE</u>, not corporations.
    It is designed as a simple, minimally invasive alternative to other large-scale server hosts.
</p>
<p>
    <a href="/">getserver.app</a> is a Ruby on Rails application, running on FreeBSD 14, behind an Apache reverse proxy.
</p>
<h2>FAQ</h2>
<div>
    <ul style="list-style: none">
        <li>
            <strong>What am I allowed to do?</strong>
        </li>
        <li>
            <p>
                You can do anything with your server as long as it falls within our <a href="tos">Terms of Service</a>, basically aslong as its legal under Canadian law.
            </p>
        </li>
        <li>
            <strong>Can I enable SMTP?</strong>
        </li>
        <li>
            <p>
                You can request SMTP by emailing us at <a href="mailto:support@getserver.app">support@getserver.app</a>.
            </p>
        </li>
        <li>
            <strong>Do you provide back-ups?</strong>
        </li>
        <li>
            <p>
                Not at the moment. Though a back-up plan is planned for the future.
            </p>
        </li>
    </ul>
</div>