<% if session_user.nil? %>
<%= @test %>
<h1>Enter your email address:</h1>
<p>
    Enter your email to rent a VPS, or to manage your existing VPS's
</p>
<form action="/enter" id="hero-form">
    <div>
        <input id="email-input" name="email" type="text">
        <span id="error" style="color: red"></span>
    </div>
    <button disabled="true" id="enter-button">
        Submit
    </button>
</form>
<script>
 window.addEventListener('keydown',function(e) {
    if (e.keyIdentifier==='U+000A' || e.keyIdentifier==='Enter' || e.keyCode===13) {
        if (e.target.nodeName==='INPUT' && e.target.type==='text') {
            e.preventDefault();
            return false;
        }
    }
 }, true);
 const error = document.querySelector('#error')
 const button = document.querySelector('#enter-button')
 document.querySelector('#email-input').addEventListener('input', e => {
    button.disabled = true;
    error.innerText = ''
    fetch("/api/check_email", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ email: e.target.value })
    })
    .then(async response => {
        if (response.status == 400) {
            error.innerText = 'Please enter a valid email address.'
            return
        }

        button.disabled = false;
        const message = await response.json()
        button.innerText = message['button_txt']
    })
 })
 document.querySelector('#email-input').addEventListener('change', e => {
    button.disabled = true;
    error.innerText = ''
    fetch("/api/check_email", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ email: e.target.value })
    })
    .then(async response => {
        if (response.status == 400) {
            error.innerText = 'Please enter a valid email address.'
            return
        }

        button.disabled = false;
        const message = await response.json()
        button.innerText = message['button_txt']
    })
 })
</script>
<% else %>
<p>
    You have a pending email to verify. Please check your email, this can take up to a few minutes.
</p>
<p>
    <a href="/enter/?email=<%= session_user.email %>">Click here</a> to resend your verification email.
</p>
<% end %>